@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-flow: column;
  background: linear-gradient(-45deg, #ee7752, #650199, #23a6d5, #23d5ab) no-repeat;
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
}

@media (min-width: 200px){
  .container {
    padding: 0 10px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  color: #fff;
  font-size: clamp(1.3rem, 3vw, 2rem);
  line-height: 1.2;
  font-family: "Poppins" Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
}