.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;

  max-width: 30rem;
  width: 100%;
  height: 100%;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border-radius: 4px;
  position: relative;

  background: #fff;
}

@media (min-width: 630px) {
  .headingMd {
    width: 25rem;
  }
}

.header h1 {
  color: #111;
  font-size: clamp(1.3rem, 3vw, 2rem);
  font-family: "Poppins" Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  position: relative;
}

.tooltip {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  position: inherit;
}

.tooltip__item {
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to right top, #a8eb12, #eea400, #fe5137, #d60074, #650199);
  width: 95%;
  padding: 1.2em;
  border-radius: 0.5em;
  clip-path: circle(5% at 90% 22%);
  transition: all .3s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5em rgba(27, 27, 27, 0.2);
  box-shadow: 0 0 5em rgba(27, 27, 27, 0.2);
}
.tooltip__item:hover{
  clip-path: circle(100%);
  -webkit-box-shadow: 0 0 2em rgba(27, 27, 27, 0.2);
  box-shadow: 0 0 2em rgba(27, 27, 27, 0.2);
}

.tooltip__icon_container {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: flex-end;
}

.tooltip__icon {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  margin-right: 13px;
  margin-top: 30px;
}

@media(min-width: 300px) and (max-width: 400px){
  .tooltip__icon {
    margin-right: 0;
    margin-top: 25px;
  }
}

@media(min-width: 401px) and (max-width: 1050px){
  .tooltip__icon {
    margin-right: 14px;
    margin-top: 18px;
  }
}


.tooltip:hover span {
  opacity: 0;
}

.tooltip h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: clamp(16px, 1vw, 20px);
}

.tooltip p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
  font-size: clamp(10px, 1vw, 12px);
}

.form {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 1em;
}

@media (min-width: 400px) and (max-width: 2220px) {
  .form {
    max-width: 40rem;
  }
}

.form__label {
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
}

.form__select_wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.form__select {
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 1rem 0.7rem;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border-radius: 0.2em;
  font-size: 1rem;
  font-family: "Montserrat" sans-serif "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.1;
  background-color: #f1f1f1;
  background-image: linear-gradient(to top, #f1f1f1, #f1f1f1 33%);
}

.form__select::-ms-expand {
  display: none;
}

.form__select_repeat {
  margin-left: 1rem;
  width: calc(100% - 1rem);
}

.form__phone {
  padding: 1rem;
  font-family: "Montserrat" sans-serif "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana;
  font-size: 1rem;
  border: none;
  width: 100%;
  outline: none;
  color: #444;
  background: #f1f1f1;
}

.form__phone::placeholder {
  font-family: "Montserrat" sans-serif "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana;
  font-size: 1rem;
  color: #888;
}

/* button */
@keyframes point {
  to {
    border-radius: 0%;
    width: 20rem;
    height: 20rem;
  }
}

.form__button {
  width: 100%;
  height: 3rem;
  padding: 1.2rem;
  margin-top: 2.5rem;
  border: none;
  background: #650199;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1rem;
  clip-path: inset(0 0 0 0 round 4px);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__button:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  background: #7f06c1;
}

.form__button:hover::after {
  position: absolute;
  animation: point 0.6s ease forwards;
}

.button__title {
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Form error */

.form__select_container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.form__container {
  width: 100%;
  position: relative;
}

.form_error {
  font-size: 0.7rem;
  color: red;
  position: absolute;
  left: 0;
  text-align: left;
  bottom: -25px;
}

.form_error[data-css="select-right"] {
  text-align: right;
}

.layout__button {
  width: 80%;
  min-width: 1rem;
  height: 2rem;
  padding: 1.2rem;
  border: none;
  background: rgb(228, 42, 123);
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1rem;
  clip-path: inset(0 0 0 0 round 4px);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout__button a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 1vw, 1rem);
}

/* MBS */
.layout__mbs {
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1rem;
  background: #FFF;
}